In [2]:
import pandas as pd

In [4]:
pd.__version__

'2.2.1'

In [6]:
df_1 = pd.read_csv('courses.csv', index_col='id', parse_dates=['created'])
df = df_1.copy()
df.head()

,title,url,rating,num_reviews,num_published_lectures,created,last_update_date,duration,instructors_id,image
id,,,,,,,,,,
567828,The Complete Python Bootcamp From Zero to Hero...,/course/complete-python-bootcamp/,4.592782,452973,155,2015-07-29 00:12:23+00:00,2021-03-14,22 total hours,9685726,https://img-c.udemycdn.com/course/750x422/5678...
1565838,The Complete 2023 Web Development Bootcamp,/course/the-complete-web-development-bootcamp/,4.667258,263152,490,2018-02-22 12:02:33+00:00,2023-01-20,65.5 total hours,31334738,https://img-c.udemycdn.com/course/750x422/1565...
625204,The Web Developer Bootcamp 2023,/course/the-web-developer-bootcamp/,4.696147,254711,616,2015-09-28 21:32:19+00:00,2023-02-12,64 total hours,4466306,https://img-c.udemycdn.com/course/750x422/6252...
756150,Angular - The Complete Guide (2023 Edition),/course/the-complete-guide-to-angular-2/,4.592692,180257,472,2016-02-08 17:02:55+00:00,2023-02-06,34.5 total hours,13952972,https://img-c.udemycdn.com/course/750x422/7561...
2776760,100 Days of Code: The Complete Python Pro Boot...,/course/100-days-of-code/,4.695252,177568,676,2020-01-24 10:47:21+00:00,2022-11-30,64 total hours,31334738,https://img-c.udemycdn.com/course/750x422/2776...

## check for nans❗

In [10]:
df['rating'].hasnans

False

## count all Nans in each column❗❗

In [11]:
missing_vals = df.isnull().sum()
missing_vals

title                      0
url                        0
rating                     0
num_reviews                0
num_published_lectures     0
created                    0
last_update_date          78
duration                   0
instructors_id             0
image                      0
dtype: int64

## replace in-place❗

In [16]:
# df['rating_filled'] = df['rating'].fillna(df['rating'].mean(), inplace=True)
# missing_vals = df.isnull().sum()
# missing_vals

/tmp/ipykernel_67618/253318814.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating_filled'] = df['rating'].fillna(df['rating'].mean(), inplace=True)