In [6]:
import pandas as pd
import numpy as np

In [7]:
prices = [100, 200, 30]
items = ['caca', 'coca', 'coco']

In [8]:
serie = pd.Series(data=prices, index=items, name='jamon')
serie

caca    100
coca    200
coco     30
Name: jamon, dtype: int64

In [9]:
nums = [4,5,6]
serie = pd.Series(nums, dtype=np.int16)
serie

0    4
1    5
2    6
dtype: int16

In [10]:
words = ['alo', 'hola']
serie = pd.Series(words, dtype=str)
serie

0     alo
1    hola
dtype: object

In [13]:
df = pd.read_csv('instructors.csv', header=0, index_col='title', usecols=['title', 'job_title'])
df

                                                                  job_title
title
Jose Portilla                      Head of Data Science at Pierian Training
Dr. Angela Yu                                 Developer and Lead Instructor
Colt Steele                               Developer and Bootcamp Instructor
Maximilian Schwarzmüller  AWS certified, Professional Web Developer and ...
Tim Buchalka              Java Python Android and C# Expert Developer - ...
...                                                                     ...
Marc-Nesly Delmot                                         singer songwriter
Gabriel Budemberg                             Instrutor de Produção Musical
Rafael Dos Santos Buffon                                           Pedagogo
Adrin Wendt                      Pianist/ Online- und Offline-Klavierlehrer
Viktor Kaminskiy          Music Composition, Music Producing, Orchestration

[32233 rows x 1 columns]

In [14]:
len(df)

32233

In [15]:
df.value_counts()

job_title
Instructor                                 265
Software Engineer                          144
Professor                                   76
Engineer                                    75
Software Developer                          57
                                          ...
FPGA Designer and VHDL Programmer            1
FPGA Design Company                          1
FPGA / ASIC Design Engineer                  1
FPGA * VHDL * MATLAB Enthusiast              1
ＸＢＡＳＥ・ＶＢＡ・システム開発・初心者向けＩＴ教育・新しい分野を見つけること      1
Name: count, Length: 27920, dtype: int64

In [16]:
df.describe()

         job_title
count        32155
unique       27920
top     Instructor
freq           265

In [21]:
df.sort_values(ascending=False, by='job_title')

                                                              job_title
title
浅井 良一                           ＸＢＡＳＥ・ＶＢＡ・システム開発・初心者向けＩＴ教育・新しい分野を見つけること
洋二 奥川                                   Ｏ脚改善、姿勢改善、不定愁訴の改善、体幹トレーニング、身体操作
藤田 泰仁                                                          ３つの健康専門家
3DRI 金子                                                ３Dソリューションコンサルタント
더나은삶TV Betterlife                                              회계사, 유튜버
...                                                                 ...
Gustavo G                                                           NaN
Gemma Louise Marinus                                                NaN
StrumSchool Shapiro                                                 NaN
Luis Portal                                                         NaN
Rafael Santiago Araujo de Lima                                      NaN

[32233 rows x 1 columns]

In [23]:
 df.loc['Colt Steele']

job_title    Developer and Bootcamp Instructor
Name: Colt Steele, dtype: object

In [25]:
df.iloc[2]

job_title    Developer and Bootcamp Instructor
Name: Colt Steele, dtype: object