In [1]:
import pandas as pd
import numpy as np

In [2]:
prices = [100, 200, 30]
items = ['caca', 'coca', 'coco']

In [3]:
serie = pd.Series(data=prices, index=items, name='jamon')
serie

caca    100
coca    200
coco     30
Name: jamon, dtype: int64

In [4]:
nums = [4,5,6]
serie = pd.Series(nums, dtype=np.int16)
serie

0    4
1    5
2    6
dtype: int16

In [5]:
words = ['alo', 'hola']
serie = pd.Series(words, dtype=str)
serie

0     alo
1    hola
dtype: object

In [6]:
df = pd.read_csv('instructors.csv', header=0, index_col='title', usecols=['title', 'job_title'])
df

                                                                  job_title
title
Jose Portilla                      Head of Data Science at Pierian Training
Dr. Angela Yu                                 Developer and Lead Instructor
Colt Steele                               Developer and Bootcamp Instructor
Maximilian Schwarzmüller  AWS certified, Professional Web Developer and ...
Tim Buchalka              Java Python Android and C# Expert Developer - ...
...                                                                     ...
Marc-Nesly Delmot                                         singer songwriter
Gabriel Budemberg                             Instrutor de Produção Musical
Rafael Dos Santos Buffon                                           Pedagogo
Adrin Wendt                      Pianist/ Online- und Offline-Klavierlehrer
Viktor Kaminskiy          Music Composition, Music Producing, Orchestration

[32233 rows x 1 columns]

In [7]:
len(df)

32233

In [8]:
df.value_counts()

job_title
Instructor                                 265
Software Engineer                          144
Professor                                   76
Engineer                                    75
Software Developer                          57
                                          ...
FPGA Designer and VHDL Programmer            1
FPGA Design Company                          1
FPGA / ASIC Design Engineer                  1
FPGA * VHDL * MATLAB Enthusiast              1
ＸＢＡＳＥ・ＶＢＡ・システム開発・初心者向けＩＴ教育・新しい分野を見つけること      1
Name: count, Length: 27920, dtype: int64

In [9]:
df.describe()

         job_title
count        32155
unique       27920
top     Instructor
freq           265

In [10]:
df.sort_values(ascending=False, by='job_title')

                                                              job_title
title
浅井 良一                           ＸＢＡＳＥ・ＶＢＡ・システム開発・初心者向けＩＴ教育・新しい分野を見つけること
洋二 奥川                                   Ｏ脚改善、姿勢改善、不定愁訴の改善、体幹トレーニング、身体操作
藤田 泰仁                                                          ３つの健康専門家
3DRI 金子                                                ３Dソリューションコンサルタント
더나은삶TV Betterlife                                              회계사, 유튜버
...                                                                 ...
Gustavo G                                                           NaN
Gemma Louise Marinus                                                NaN
StrumSchool Shapiro                                                 NaN
Luis Portal                                                         NaN
Rafael Santiago Araujo de Lima                                      NaN

[32233 rows x 1 columns]

## find by key 🍕

In [11]:
 df.loc['Colt Steele']

job_title    Developer and Bootcamp Instructor
Name: Colt Steele, dtype: object

In [12]:
df.iloc[2]

job_title    Developer and Bootcamp Instructor
Name: Colt Steele, dtype: object

In [13]:
df.get(['job_title'])
set = df['job_title']
set.get('Colt Steele')

'Developer and Bootcamp Instructor'

## find by value 🍔

In [14]:
index_label = df[df['job_title'] == 'Udemy Instructor']
index_label

                     job_title
title
Sana Maqsood  Udemy Instructor
Alina M       Udemy Instructor
Ross Zeiger   Udemy Instructor

In [15]:
index_label = df[df['job_title'] == 'Udemy instructor']
index_label

                      job_title
title
Mohammad Khan  Udemy instructor

## ✨trick time

In [16]:
df['lower_job_title'] = df['job_title'].str.lower()

In [17]:
index_label = df[df['lower_job_title'] == 'udemy instructor']
index_label

                      job_title   lower_job_title
title
Sana Maqsood   Udemy Instructor  udemy instructor
Mohammad Khan  Udemy instructor  udemy instructor
Alina M        Udemy Instructor  udemy instructor
Ross Zeiger    Udemy Instructor  udemy instructor

## concatenation

In [18]:
def concat_jamon(text):
    return text + " jamon"

In [20]:
df = df.apply(concat_jamon)
df

,job_title,lower_job_title
title,,
Jose Portilla,Head of Data Science at Pierian Training jamon...,head of data science at pierian training jamon...
Dr. Angela Yu,Developer and Lead Instructor jamon jamon,developer and lead instructor jamon jamon
Colt Steele,Developer and Bootcamp Instructor jamon jamon,developer and bootcamp instructor jamon jamon
Maximilian Schwarzmüller,"AWS certified, Professional Web Developer and ...","aws certified, professional web developer and ..."
Tim Buchalka,Java Python Android and C# Expert Developer - ...,java python android and c# expert developer - ...
...,...,...
Marc-Nesly Delmot,singer songwriter jamon jamon,singer songwriter jamon jamon
Gabriel Budemberg,Instrutor de Produção Musical jamon jamon,instrutor de produção musical jamon jamon
Rafael Dos Santos Buffon,Pedagogo jamon jamon,pedagogo jamon jamon
Adrin Wendt,Pianist/ Online- und Offline-Klavierlehrer jam...,pianist/ online- und offline-klavierlehrer jam...
Viktor Kaminskiy,"Music Composition, Music Producing, Orchestrat...","music composition, music producing, orchestrat..."

## todo❗ clean data

In [21]:
# my series contain a nan, what are my options in a pandas series, 
# there are several popular options to handle them, and how to clean that data,
# list popular options in a tabular format