In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.1'

In [3]:
df_1 = pd.read_csv('courses.csv', index_col='id', parse_dates=['created'])
df = df_1.copy()
df.head()

,title,url,rating,num_reviews,num_published_lectures,created,last_update_date,duration,instructors_id,image
id,,,,,,,,,,
567828,The Complete Python Bootcamp From Zero to Hero...,/course/complete-python-bootcamp/,4.592782,452973,155,2015-07-29 00:12:23+00:00,2021-03-14,22 total hours,9685726,https://img-c.udemycdn.com/course/750x422/5678...
1565838,The Complete 2023 Web Development Bootcamp,/course/the-complete-web-development-bootcamp/,4.667258,263152,490,2018-02-22 12:02:33+00:00,2023-01-20,65.5 total hours,31334738,https://img-c.udemycdn.com/course/750x422/1565...
625204,The Web Developer Bootcamp 2023,/course/the-web-developer-bootcamp/,4.696147,254711,616,2015-09-28 21:32:19+00:00,2023-02-12,64 total hours,4466306,https://img-c.udemycdn.com/course/750x422/6252...
756150,Angular - The Complete Guide (2023 Edition),/course/the-complete-guide-to-angular-2/,4.592692,180257,472,2016-02-08 17:02:55+00:00,2023-02-06,34.5 total hours,13952972,https://img-c.udemycdn.com/course/750x422/7561...
2776760,100 Days of Code: The Complete Python Pro Boot...,/course/100-days-of-code/,4.695252,177568,676,2020-01-24 10:47:21+00:00,2022-11-30,64 total hours,31334738,https://img-c.udemycdn.com/course/750x422/2776...

## check for nans‚ùó

In [4]:
df['rating'].hasnans

False

## count all Nans in each column‚ùó‚ùó

In [5]:
missing_vals = df.isnull().sum()
missing_vals

title                      0
url                        0
rating                     0
num_reviews                0
num_published_lectures     0
created                    0
last_update_date          78
duration                   0
instructors_id             0
image                      0
dtype: int64

## replace in-place‚ùó

In [6]:
# df['rating_filled'] = df['rating'].fillna(df['rating'].mean(), inplace=True)
# missing_vals = df.isnull().sum()
# missing_vals

In [7]:
df['rating_copy'] = df['rating'].copy()
mean = df['rating'].mean()
df['rating_copy'].fillna(mean, inplace=True)
missing_vals = df.isnull().sum()
missing_vals

/tmp/ipykernel_76944/1170289955.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating_copy'].fillna(mean, inplace=True)

title                      0
url                        0
rating                     0
num_reviews                0
num_published_lectures     0
created                    0
last_update_date          78
duration                   0
instructors_id             0
image                      0
rating_copy                0
dtype: int64

## or removing missing values‚ùó

In [8]:
df_cleaned = df.dropna(subset=['last_update_date']) # üëÄ only specific colummn‚ùó
# df_cleaned = df.dropna(axis=0, how='any') üëÄ when any column has NaN
# df_cleaned = df.dropna(axis=0, how='all') üëÄ when the whole row is NaN
missing_vals = df_cleaned.isnull().sum()
missing_vals

title                     0
url                       0
rating                    0
num_reviews               0
num_published_lectures    0
created                   0
last_update_date          0
duration                  0
instructors_id            0
image                     0
rating_copy               0
dtype: int64

## string to integer‚ùó

In [11]:
df_cleaned['duration_cleaned'] = df_cleaned['duration'].str.extract('(\d+)').astype(float)
df_cleaned['duration_cleaned'].head()

/tmp/ipykernel_76944/1871215632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['duration_cleaned'] = df_cleaned['duration'].str.extract('(\d+)').astype(float)

id
567828     22.0
1565838    65.0
625204     64.0
756150     34.0
2776760    64.0
Name: duration_cleaned, dtype: float64

In [18]:
bins = [0,1,2,3,4,5]
df_cleaned['rating_group'] = pd.cut(df_cleaned['rating'], bins=bins, labels=[1,2,3,4,5], include_lowest=True)
df_cleaned.head()

/tmp/ipykernel_76944/3985580683.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['rating_group'] = pd.cut(df_cleaned['rating'], bins=bins, labels=[1,2,3,4,5], include_lowest=True)

,title,url,rating,num_reviews,num_published_lectures,created,last_update_date,duration,instructors_id,image,rating_copy,duration_cleaned,rating_group
id,,,,,,,,,,,,,
567828,The Complete Python Bootcamp From Zero to Hero...,/course/complete-python-bootcamp/,4.592782,452973,155,2015-07-29 00:12:23+00:00,2021-03-14,22 total hours,9685726,https://img-c.udemycdn.com/course/750x422/5678...,4.592782,22.0,5
1565838,The Complete 2023 Web Development Bootcamp,/course/the-complete-web-development-bootcamp/,4.667258,263152,490,2018-02-22 12:02:33+00:00,2023-01-20,65.5 total hours,31334738,https://img-c.udemycdn.com/course/750x422/1565...,4.667258,65.0,5
625204,The Web Developer Bootcamp 2023,/course/the-web-developer-bootcamp/,4.696147,254711,616,2015-09-28 21:32:19+00:00,2023-02-12,64 total hours,4466306,https://img-c.udemycdn.com/course/750x422/6252...,4.696147,64.0,5
756150,Angular - The Complete Guide (2023 Edition),/course/the-complete-guide-to-angular-2/,4.592692,180257,472,2016-02-08 17:02:55+00:00,2023-02-06,34.5 total hours,13952972,https://img-c.udemycdn.com/course/750x422/7561...,4.592692,34.0,5
2776760,100 Days of Code: The Complete Python Pro Boot...,/course/100-days-of-code/,4.695252,177568,676,2020-01-24 10:47:21+00:00,2022-11-30,64 total hours,31334738,https://img-c.udemycdn.com/course/750x422/2776...,4.695252,64.0,5

In [20]:
selected_cols = df_cleaned[['rating', 'rating_group', 'duration_cleaned', 'duration']]
selected_cols

           rating rating_group  duration_cleaned          duration
id
567828   4.592782            5              22.0    22 total hours
1565838  4.667258            5              65.0  65.5 total hours
625204   4.696147            5              64.0    64 total hours
756150   4.592692            5              34.0  34.5 total hours
2776760  4.695252            5              64.0    64 total hours
...           ...          ...               ...               ...
5029000  1.500000            2               1.0      1 total hour
4694354  0.000000            1               1.0   1.5 total hours
4668986  0.000000            1              39.0     39 total mins
4954150  0.000000            1               1.0   1.5 total hours
4545520  0.000000            1              31.0     31 total mins

[83026 rows x 4 columns]

## sort by column‚ùó

In [22]:
sorted = df_cleaned.sort_values(by='num_reviews', ascending=False)
sorted

,title,url,rating,num_reviews,num_published_lectures,created,last_update_date,duration,instructors_id,image,rating_copy,duration_cleaned,rating_group
id,,,,,,,,,,,,,
567828,The Complete Python Bootcamp From Zero to Hero...,/course/complete-python-bootcamp/,4.592782,452973,155,2015-07-29 00:12:23+00:00,2021-03-14,22 total hours,9685726,https://img-c.udemycdn.com/course/750x422/5678...,4.592782,22.0,5
793796,Microsoft Excel - Excel from Beginner to Advanced,/course/microsoft-excel-2013-from-beginner-to-...,4.659531,357442,254,2016-03-15 16:43:36+00:00,2023-01-17,21 total hours,16649710,https://img-c.udemycdn.com/course/750x422/7937...,4.659531,21.0,5
1565838,The Complete 2023 Web Development Bootcamp,/course/the-complete-web-development-bootcamp/,4.667258,263152,490,2018-02-22 12:02:33+00:00,2023-01-20,65.5 total hours,31334738,https://img-c.udemycdn.com/course/750x422/1565...,4.667258,65.0,5
625204,The Web Developer Bootcamp 2023,/course/the-web-developer-bootcamp/,4.696147,254711,616,2015-09-28 21:32:19+00:00,2023-02-12,64 total hours,4466306,https://img-c.udemycdn.com/course/750x422/6252...,4.696147,64.0,5
756150,Angular - The Complete Guide (2023 Edition),/course/the-complete-guide-to-angular-2/,4.592692,180257,472,2016-02-08 17:02:55+00:00,2023-02-06,34.5 total hours,13952972,https://img-c.udemycdn.com/course/750x422/7561...,4.592692,34.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4910918,Sports Scholarships: Tips from 20-Yr NCAA Recr...,/course/1001recruittips/,0.000000,0,51,2022-10-03 11:53:31+00:00,2022-10-26,2 total hours,210963292,https://img-c.udemycdn.com/course/750x422/4910...,0.000000,2.0,1
4892794,Cardiac Arrhythmias Part 2,/course/cardiac-arrhythmias-part-2/,0.000000,0,6,2022-09-21 11:23:36+00:00,2022-10-01,3.5 total hours,207866992,https://img-c.udemycdn.com/course/750x422/4892...,0.000000,3.0,1
4842918,OT Occupational Therapy Exam Questions Practic...,/course/ot-occupational-therapy-exam-questions...,0.000000,0,0,2022-08-21 09:13:53+00:00,2022-08-21,200 questions,196936386,https://img-c.udemycdn.com/course/750x422/4842...,0.000000,200.0,1
4868336,Food and Mood -How food impacts our mood and mind,/course/food-and-mood-how-food-impacts-our-moo...,0.000000,0,6,2022-09-06 06:03:27+00:00,2022-09-05,3 total hours,37307828,https://img-c.udemycdn.com/course/750x422/4868...,0.000000,3.0,1
4545520,„ÇØ„É≠„Éû„ÉÅ„ÉÉ„ÇØ„Éè„Éº„É¢„Éã„Ç´„Çí„ÅØ„Åò„ÇÅ„ÇãÂâç„Å´Áü•„Å£„Å¶„Åä„Åç„Åü„ÅÑ„Åì„Å®,/course/harmonica_beginner/,0.000000,0,9,2022-02-11 08:12:45+00:00,2022-02-11,31 total mins,177930546,https://img-b.udemycdn.com/course/750x422/4545...,0.000000,31.0,1