In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.1'

In [3]:
df_1 = pd.read_csv('courses.csv', index_col='id', parse_dates=['created'])
df = df_1.copy()
df.head()

,title,url,rating,num_reviews,num_published_lectures,created,last_update_date,duration,instructors_id,image
id,,,,,,,,,,
567828,The Complete Python Bootcamp From Zero to Hero...,/course/complete-python-bootcamp/,4.592782,452973,155,2015-07-29 00:12:23+00:00,2021-03-14,22 total hours,9685726,https://img-c.udemycdn.com/course/750x422/5678...
1565838,The Complete 2023 Web Development Bootcamp,/course/the-complete-web-development-bootcamp/,4.667258,263152,490,2018-02-22 12:02:33+00:00,2023-01-20,65.5 total hours,31334738,https://img-c.udemycdn.com/course/750x422/1565...
625204,The Web Developer Bootcamp 2023,/course/the-web-developer-bootcamp/,4.696147,254711,616,2015-09-28 21:32:19+00:00,2023-02-12,64 total hours,4466306,https://img-c.udemycdn.com/course/750x422/6252...
756150,Angular - The Complete Guide (2023 Edition),/course/the-complete-guide-to-angular-2/,4.592692,180257,472,2016-02-08 17:02:55+00:00,2023-02-06,34.5 total hours,13952972,https://img-c.udemycdn.com/course/750x422/7561...
2776760,100 Days of Code: The Complete Python Pro Boot...,/course/100-days-of-code/,4.695252,177568,676,2020-01-24 10:47:21+00:00,2022-11-30,64 total hours,31334738,https://img-c.udemycdn.com/course/750x422/2776...

## check for nans❗

In [4]:
df['rating'].hasnans

False

## count all Nans in each column❗❗

In [5]:
missing_vals = df.isnull().sum()
missing_vals

title                      0
url                        0
rating                     0
num_reviews                0
num_published_lectures     0
created                    0
last_update_date          78
duration                   0
instructors_id             0
image                      0
dtype: int64

## replace in-place❗

In [6]:
# df['rating_filled'] = df['rating'].fillna(df['rating'].mean(), inplace=True)
# missing_vals = df.isnull().sum()
# missing_vals

In [7]:
df['rating_copy'] = df['rating'].copy()
mean = df['rating'].mean()
df['rating_copy'].fillna(mean, inplace=True)
missing_vals = df.isnull().sum()
missing_vals

/tmp/ipykernel_76944/1170289955.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating_copy'].fillna(mean, inplace=True)

title                      0
url                        0
rating                     0
num_reviews                0
num_published_lectures     0
created                    0
last_update_date          78
duration                   0
instructors_id             0
image                      0
rating_copy                0
dtype: int64

## or removing missing values❗

In [8]:
df_cleaned = df.dropna(subset=['last_update_date']) # 👀 only specific colummn❗
# df_cleaned = df.dropna(axis=0, how='any') 👀 when any column has NaN
# df_cleaned = df.dropna(axis=0, how='all') 👀 when the whole row is NaN
missing_vals = df_cleaned.isnull().sum()
missing_vals

title                     0
url                       0
rating                    0
num_reviews               0
num_published_lectures    0
created                   0
last_update_date          0
duration                  0
instructors_id            0
image                     0
rating_copy               0
dtype: int64

## string to integer❗

In [11]:
df_cleaned['duration_cleaned'] = df_cleaned['duration'].str.extract('(\d+)').astype(float)
df_cleaned['duration_cleaned'].head()

/tmp/ipykernel_76944/1871215632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['duration_cleaned'] = df_cleaned['duration'].str.extract('(\d+)').astype(float)

id
567828     22.0
1565838    65.0
625204     64.0
756150     34.0
2776760    64.0
Name: duration_cleaned, dtype: float64

In [18]:
bins = [0,1,2,3,4,5]
df_cleaned['rating_group'] = pd.cut(df_cleaned['rating'], bins=bins, labels=[1,2,3,4,5], include_lowest=True)
df_cleaned.head()

/tmp/ipykernel_76944/3985580683.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['rating_group'] = pd.cut(df_cleaned['rating'], bins=bins, labels=[1,2,3,4,5], include_lowest=True)

,title,url,rating,num_reviews,num_published_lectures,created,last_update_date,duration,instructors_id,image,rating_copy,duration_cleaned,rating_group
id,,,,,,,,,,,,,
567828,The Complete Python Bootcamp From Zero to Hero...,/course/complete-python-bootcamp/,4.592782,452973,155,2015-07-29 00:12:23+00:00,2021-03-14,22 total hours,9685726,https://img-c.udemycdn.com/course/750x422/5678...,4.592782,22.0,5
1565838,The Complete 2023 Web Development Bootcamp,/course/the-complete-web-development-bootcamp/,4.667258,263152,490,2018-02-22 12:02:33+00:00,2023-01-20,65.5 total hours,31334738,https://img-c.udemycdn.com/course/750x422/1565...,4.667258,65.0,5
625204,The Web Developer Bootcamp 2023,/course/the-web-developer-bootcamp/,4.696147,254711,616,2015-09-28 21:32:19+00:00,2023-02-12,64 total hours,4466306,https://img-c.udemycdn.com/course/750x422/6252...,4.696147,64.0,5
756150,Angular - The Complete Guide (2023 Edition),/course/the-complete-guide-to-angular-2/,4.592692,180257,472,2016-02-08 17:02:55+00:00,2023-02-06,34.5 total hours,13952972,https://img-c.udemycdn.com/course/750x422/7561...,4.592692,34.0,5
2776760,100 Days of Code: The Complete Python Pro Boot...,/course/100-days-of-code/,4.695252,177568,676,2020-01-24 10:47:21+00:00,2022-11-30,64 total hours,31334738,https://img-c.udemycdn.com/course/750x422/2776...,4.695252,64.0,5

In [20]:
selected_cols = df_cleaned[['rating', 'rating_group', 'duration_cleaned', 'duration']]
selected_cols

           rating rating_group  duration_cleaned          duration
id
567828   4.592782            5              22.0    22 total hours
1565838  4.667258            5              65.0  65.5 total hours
625204   4.696147            5              64.0    64 total hours
756150   4.592692            5              34.0  34.5 total hours
2776760  4.695252            5              64.0    64 total hours
...           ...          ...               ...               ...
5029000  1.500000            2               1.0      1 total hour
4694354  0.000000            1               1.0   1.5 total hours
4668986  0.000000            1              39.0     39 total mins
4954150  0.000000            1               1.0   1.5 total hours
4545520  0.000000            1              31.0     31 total mins

[83026 rows x 4 columns]

## sort by column❗

In [23]:
sorted = df_cleaned.sort_values(by='num_reviews', ascending=False)
sorted.head()

,title,url,rating,num_reviews,num_published_lectures,created,last_update_date,duration,instructors_id,image,rating_copy,duration_cleaned,rating_group
id,,,,,,,,,,,,,
567828,The Complete Python Bootcamp From Zero to Hero...,/course/complete-python-bootcamp/,4.592782,452973,155,2015-07-29 00:12:23+00:00,2021-03-14,22 total hours,9685726,https://img-c.udemycdn.com/course/750x422/5678...,4.592782,22.0,5
793796,Microsoft Excel - Excel from Beginner to Advanced,/course/microsoft-excel-2013-from-beginner-to-...,4.659531,357442,254,2016-03-15 16:43:36+00:00,2023-01-17,21 total hours,16649710,https://img-c.udemycdn.com/course/750x422/7937...,4.659531,21.0,5
1565838,The Complete 2023 Web Development Bootcamp,/course/the-complete-web-development-bootcamp/,4.667258,263152,490,2018-02-22 12:02:33+00:00,2023-01-20,65.5 total hours,31334738,https://img-c.udemycdn.com/course/750x422/1565...,4.667258,65.0,5
625204,The Web Developer Bootcamp 2023,/course/the-web-developer-bootcamp/,4.696147,254711,616,2015-09-28 21:32:19+00:00,2023-02-12,64 total hours,4466306,https://img-c.udemycdn.com/course/750x422/6252...,4.696147,64.0,5
756150,Angular - The Complete Guide (2023 Edition),/course/the-complete-guide-to-angular-2/,4.592692,180257,472,2016-02-08 17:02:55+00:00,2023-02-06,34.5 total hours,13952972,https://img-c.udemycdn.com/course/750x422/7561...,4.592692,34.0,5

## look for duplicated❗

In [25]:
duplicates = df_cleaned.duplicated()
duplicates

id
567828     False
1565838    False
625204     False
756150     False
2776760    False
           ...
5029000    False
4694354    False
4668986    False
4954150    False
4545520    False
Length: 83026, dtype: bool

In [26]:
duplicates.sum()

0

In [30]:
# Sample DataFrame with duplicates
data = {'A': [1, 1, 2, 2, 3],
        'B': ['x', 'x', 'y', 'y', 'z']}
df = pd.DataFrame(data)

# Dropping duplicates
clean_df = df.drop_duplicates()

# contains only the first occurrence of each unique row.
print(clean_df)

   A  B
0  1  x
2  2  y
4  3  z

## filter by column❗

In [95]:
long = df_cleaned[df_cleaned['duration_cleaned'] > 300]
print(long.head())

                                                     title  \
id
2322586   AWS Certified Developer Associate Practice Exams
1550970  Java Certification : OCP (1Z0-809) Exam Simula...
4455426  Web 3.0, Blockchain, Smart Contracts & Crypto ...
1579652  Java Certification - I (OCA): Practice for 1Z0...
3507110  Oracle OCP Java 11 Developer Practice Tests fo...

                                                       url    rating  \
id
2322586  /course/aws-certified-developer-associate-prac...  4.713131
1550970                                  /course/java-ocp/  4.914651
4455426  /course/web3-blockchain-smartcontracts-crypto-...  4.051289
1579652  /course/java-certification-i-oca-practice-for-...  3.396133
3507110  /course/java-se-11-certification-exam-1z0-819-...  3.108269

         num_reviews  num_published_lectures                   created  \
id
2322586         3276                       0 2019-04-14 22:50:29+00:00
1550970          358                       0 2018-02-12 08:11:27+00:00
4455426           83                       0 2021-12-21 20:23:13+00:00
1579652           74                       0 2018-03-04 04:53:11+00:00
3507110           70                       0 2020-09-17 12:41:33+00:00

        last_update_date       duration  instructors_id  \
id
2322586       2023-02-14  335 questions          116422
1550970       2023-02-02  539 questions        15168548
4455426       2022-01-18  310 questions        28616898
1579652       2020-09-16  350 questions        31512658
3507110       2022-12-11  319 questions         3114402

                                                     image  rating_copy  \
id
2322586  https://img-b.udemycdn.com/course/750x422/2322...     4.713131
1550970  https://img-c.udemycdn.com/course/750x422/1550...     4.914651
4455426  https://img-c.udemycdn.com/course/750x422/4455...     4.051289
1579652  https://img-b.udemycdn.com/course/750x422/1579...     3.396133
3507110  https://img-b.udemycdn.com/course/750x422/3507...     3.108269

         duration_cleaned rating_group         created_converted  created_year
id
2322586             335.0            5 2019-04-14 22:50:29+00:00          2019
1550970             539.0            5 2018-02-12 08:11:27+00:00          2018
4455426             310.0            5 2021-12-21 20:23:13+00:00          2021
1579652             350.0            4 2018-03-04 04:53:11+00:00          2018
3507110             319.0            4 2020-09-17 12:41:33+00:00          2020

In [94]:
reviews = df_cleaned[df_cleaned['num_reviews'] > 100000]
print(reviews.head())
# reviews

                                                     title  \
id
567828   The Complete Python Bootcamp From Zero to Hero...
1565838         The Complete 2023 Web Development Bootcamp
625204                     The Web Developer Bootcamp 2023
756150         Angular - The Complete Guide (2023 Edition)
2776760  100 Days of Code: The Complete Python Pro Boot...

                                                    url    rating  \
id
567828                /course/complete-python-bootcamp/  4.592782
1565838  /course/the-complete-web-development-bootcamp/  4.667258
625204              /course/the-web-developer-bootcamp/  4.696147
756150         /course/the-complete-guide-to-angular-2/  4.592692
2776760                       /course/100-days-of-code/  4.695252

         num_reviews  num_published_lectures                   created  \
id
567828        452973                     155 2015-07-29 00:12:23+00:00
1565838       263152                     490 2018-02-22 12:02:33+00:00
625204        254711                     616 2015-09-28 21:32:19+00:00
756150        180257                     472 2016-02-08 17:02:55+00:00
2776760       177568                     676 2020-01-24 10:47:21+00:00

        last_update_date          duration  instructors_id  \
id
567828        2021-03-14    22 total hours         9685726
1565838       2023-01-20  65.5 total hours        31334738
625204        2023-02-12    64 total hours         4466306
756150        2023-02-06  34.5 total hours        13952972
2776760       2022-11-30    64 total hours        31334738

                                                     image  rating_copy  \
id
567828   https://img-c.udemycdn.com/course/750x422/5678...     4.592782
1565838  https://img-c.udemycdn.com/course/750x422/1565...     4.667258
625204   https://img-c.udemycdn.com/course/750x422/6252...     4.696147
756150   https://img-c.udemycdn.com/course/750x422/7561...     4.592692
2776760  https://img-c.udemycdn.com/course/750x422/2776...     4.695252

         duration_cleaned rating_group         created_converted  created_year
id
567828               22.0            5 2015-07-29 00:12:23+00:00          2015
1565838              65.0            5 2018-02-22 12:02:33+00:00          2018
625204               64.0            5 2015-09-28 21:32:19+00:00          2015
756150               34.0            5 2016-02-08 17:02:55+00:00          2016
2776760              64.0            5 2020-01-24 10:47:21+00:00          2020

In [92]:
# Convert the 'created' column to a datetime object
df_cleaned['created_converted'] = pd.to_datetime(df_cleaned['created'])

# Extract the year from the 'created' column
df_cleaned['created_year'] = df_cleaned['created_converted'].dt.year

# Filter the rows for courses created in 2022
in_2022 = df_cleaned[df_cleaned['created_year'] == 2022]
print(in_2022.head())

                                                     title  \
id
4580634  TOTAL Python: 16 days to Become an Advanced Py...
4574326  Playwright JS Automation Testing from Scratch ...
4649166      JavaScript Unit Testing - The Practical Guide
4724938                Mastering TypeScript - 2023 Edition
4603936            Unreal Engine 5 C++ Multiplayer Shooter

                                                       url    rating  \
id
4580634                              /course/total-python/  4.597317
4574326   /course/playwright-tutorials-automation-testing/  4.592546
4649166  /course/javascript-unit-testing-the-practical-...  4.695919
4724938                          /course/learn-typescript/  4.749772
4603936   /course/unreal-engine-5-cpp-multiplayer-shooter/  4.741808

         num_reviews  num_published_lectures                   created  \
id
4580634         2085                     225 2022-03-04 16:56:13+00:00
4574326         1834                      69 2022-02-28 20:09:58+00:00
4649166         1743                      92 2022-04-19 05:46:40+00:00
4724938         1685                     142 2022-06-08 17:32:20+00:00
4603936         1462                     246 2022-03-19 17:10:51+00:00

        last_update_date          duration  instructors_id  \
id
4580634       2022-09-20  26.5 total hours        11005030
4574326       2023-01-01    14 total hours         5997742
4649166       2022-11-18   5.5 total hours        31926668
4724938       2022-12-22  10.5 total hours         4466306
4603936       2023-01-31    65 total hours        49728164

                                                     image  rating_copy  \
id
4580634  https://img-c.udemycdn.com/course/750x422/4580...     4.597317
4574326  https://img-c.udemycdn.com/course/750x422/4574...     4.592546
4649166  https://img-c.udemycdn.com/course/750x422/4649...     4.695919
4724938  https://img-c.udemycdn.com/course/750x422/4724...     4.749772
4603936  https://img-b.udemycdn.com/course/750x422/4603...     4.741808

         duration_cleaned rating_group         created_converted  created_year
id
4580634              26.0            5 2022-03-04 16:56:13+00:00          2022
4574326              14.0            5 2022-02-28 20:09:58+00:00          2022
4649166               5.0            5 2022-04-19 05:46:40+00:00          2022
4724938              10.0            5 2022-06-08 17:32:20+00:00          2022
4603936              65.0            5 2022-03-19 17:10:51+00:00          2022

In [93]:
filtered = df_cleaned[(df_cleaned['created_year'] > 2022)  & (df_cleaned['rating'] > 4.0)]
print(filtered.head())

                                                     title  \
id
5073162  React Testing Library and Jest: The Complete G...
5075216  The Complete ChatGPT Web Development Code Alon...
5082418  ChatGPT For Beginners: Smart Tips For ChatGPT ...
5057468  Full Stack React Bootcamp with .NET API [2023]...
5053594  ChatGPT: Absolute guide to AI Assistants ANY I...

                                                       url    rating  \
id
5073162            /course/react-testing-library-and-jest/  4.758995
5075216  /course/the-complete-chatgpt-web-development-f...  4.528523
5082418                        /course/chatgpt-smart-tips/  4.348467
5057468    /course/full-stack-react-bootcamp-with-net-api/  4.700319
5053594  /course/chatgpt-how-to-maximize-ai-assistants-...  4.526276

         num_reviews  num_published_lectures                   created  \
id
5073162          232                      92 2023-01-09 17:00:07+00:00
5075216          141                      42 2023-01-10 12:44:41+00:00
5082418          115                      76 2023-01-13 07:10:19+00:00
5057468          109                     343 2023-01-03 16:30:01+00:00
5053594           84                      29 2023-01-02 03:07:11+00:00

        last_update_date          duration  instructors_id  \
id
5073162       2023-02-01   7.5 total hours         5487312
5075216       2023-01-30   3.5 total hours        60884630
5082418       2023-02-08   2.5 total hours       123122712
5057468       2023-01-19  21.5 total hours         8843166
5053594       2023-01-04   1.5 total hours        85648024

                                                     image  rating_copy  \
id
5073162  https://img-c.udemycdn.com/course/750x422/5073...     4.758995
5075216  https://img-c.udemycdn.com/course/750x422/5075...     4.528523
5082418  https://img-c.udemycdn.com/course/750x422/5082...     4.348467
5057468  https://img-c.udemycdn.com/course/750x422/5057...     4.700319
5053594  https://img-c.udemycdn.com/course/750x422/5053...     4.526276

         duration_cleaned rating_group         created_converted  created_year
id
5073162               7.0            5 2023-01-09 17:00:07+00:00          2023
5075216               3.0            5 2023-01-10 12:44:41+00:00          2023
5082418               2.0            5 2023-01-13 07:10:19+00:00          2023
5057468              21.0            5 2023-01-03 16:30:01+00:00          2023
5053594               1.0            5 2023-01-02 03:07:11+00:00          2023

## filter by string❗

In [62]:
df_cleaned['title'].str.contains('java', case=False)

id
567828     False
1565838    False
625204     False
756150     False
2776760    False
           ...
5029000    False
4694354    False
4668986    False
4954150    False
4545520    False
Name: title, Length: 83026, dtype: bool

In [69]:
courses = df_cleaned[df_cleaned['title'].str.contains('chatgpt', case=False) & (df_cleaned['rating'] > 4.5)].head()

In [96]:
courses.sort_values(by='rating', ascending=False).head()

,title,url,rating,num_reviews,num_published_lectures,created,last_update_date,duration,instructors_id,image,rating_copy,duration_cleaned,rating_group,created_converted,created_year
id,,,,,,,,,,,,,,,
1800596,Microsoft Office Word 2010 Intermediate,/course/microsoft-office-word-2010-intermediate/,5.0,1,147,2018-07-15 22:00:50+00:00,2018-07-21,3.5 total hours,214757,https://img-c.udemycdn.com/course/750x422/1800...,5.0,3.0,5,2018-07-15 22:00:50+00:00,2018
1434030,How to Interpret Business Success from Financi...,/course/financial-statements-an-overview/,5.0,4,12,2017-11-15 11:30:35+00:00,2020-10-03,1.5 total hours,32504146,https://img-c.udemycdn.com/course/750x422/1434...,5.0,1.0,5,2017-11-15 11:30:35+00:00,2017
1787630,Microsoft Office Excel 2010: Intermediate,/course/microsoft-office-excel-2010-intermedia...,5.0,3,245,2018-07-08 02:26:08+00:00,2018-11-05,4 total hours,214757,https://img-c.udemycdn.com/course/750x422/1787...,5.0,4.0,5,2018-07-08 02:26:08+00:00,2018
1632626,Microsoft Office Access 2010 Basic,/course/microsoft-office-access-2010-basic/,5.0,1,210,2018-04-05 16:57:59+00:00,2023-01-16,4 total hours,214757,https://img-c.udemycdn.com/course/750x422/1632...,5.0,4.0,5,2018-04-05 16:57:59+00:00,2018
1634708,Microsoft Office Outlook 2010: Basic,/course/microsoft-office-outlook-2010-basic-r2/,5.0,1,197,2018-04-07 01:17:29+00:00,2022-08-23,3.5 total hours,214757,https://img-c.udemycdn.com/course/750x422/1634...,5.0,3.0,5,2018-04-07 01:17:29+00:00,2018

In [80]:
tops = df_cleaned['instructors_id'].value_counts().nlargest(5)
tops
# tops.sum()

instructors_id
5058914     485
214757      284
39032       276
16262298    247
32504146    240
Name: count, dtype: int64

## create dataframe from ids❗

In [75]:
ids = tops.index.tolist()
ids

[5058914, 214757, 39032, 16262298, 32504146]

In [82]:
courses = df_cleaned[df_cleaned['instructors_id'].isin(ids)]
courses.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1532 entries, 128550 to 222124
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   1532 non-null   object
 1   url                     1532 non-null   object
 2   rating                  1532 non-null   float64
 3   num_reviews             1532 non-null   int64
 4   num_published_lectures  1532 non-null   int64
 5   created                 1532 non-null   datetime64[ns, UTC]
 6   last_update_date        1532 non-null   object
 7   duration                1532 non-null   object
 8   instructors_id          1532 non-null   int64
 9   image                   1532 non-null   object
 10  rating_copy             1532 non-null   float64
 11  duration_cleaned        1532 non-null   float64
 12  rating_group            1532 non-null   category
 13  created_converted       1532 non-null   datetime64[ns, UTC]
 14  created_year            1532 non-null   int32
dtypes: category(1), datetime64[ns, UTC](2), float64(3), int32(1), int64(3), object(5)
memory usage: 175.2+ KB

In [86]:
high = courses[courses['rating'] > 4.6]
high.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161 entries, 128550 to 222124
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   161 non-null    object
 1   url                     161 non-null    object
 2   rating                  161 non-null    float64
 3   num_reviews             161 non-null    int64
 4   num_published_lectures  161 non-null    int64
 5   created                 161 non-null    datetime64[ns, UTC]
 6   last_update_date        161 non-null    object
 7   duration                161 non-null    object
 8   instructors_id          161 non-null    int64
 9   image                   161 non-null    object
 10  rating_copy             161 non-null    float64
 11  duration_cleaned        161 non-null    float64
 12  rating_group            161 non-null    category
 13  created_converted       161 non-null    datetime64[ns, UTC]
 14  created_year            161 non-null    int32
dtypes: category(1), datetime64[ns, UTC](2), float64(3), int32(1), int64(3), object(5)
memory usage: 18.6+ KB

In [88]:
high.groupby('instructors_id')['rating'].count()

instructors_id
39032       56
214757      36
5058914     27
16262298    17
32504146    25
Name: rating, dtype: int64

In [89]:
high.groupby('instructors_id')['rating'].count().sum()

161